<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <p style="font-size: xx-large;font-weight: bold;"class="navbar-brand mr-auto ">
        Admin &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a style="border-left:1px solid grey;padding:0px 5px;"href="#" class="btn-light"><i class="fa fa-align-justify"></i></a>
    </p>
    <button class="navbar-brand btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="../assets/sbprofile.png" style="width:20px;height:20px;border-radius: 50%;border:2px solid grey;"/> SSStockAlerts
    </button>
</nav>
<div class="bg-dark nav-div">
    <div class="btn-div">
    <button class="btn btn-primary btn-div">
        <i class="fa fa-tachometer-alt"></i> &nbsp;Dashboard
    </button>
    </div>
    <div class="btn-div">
    <button class="btn btn-outline-primary bg-dark btn-div">
        <i class="fa fa-bell-o"></i> &nbsp;Users
    </button>
    </div>
</div>
<div class="container">
    <nav class="navbar navbar-light bg-light">
        <h4 class="navbar-brand mr-auto">Dashboard</h4>
        <a class="btn btn-primary">
            <i class="fa fa-retweet"></i> Refresh
        </a>
    </nav>
            <div class="card card-div">
                <h4 class="card-header" style="text-align: center;">
                    Daily
                </h4>
                <div class="card-block">
                    <table style="width:100%;table-layout: fixed;">
                        <tr style="border-top:1px solid gray; height:60px;">
                            <td>
                                Total alerts
                            </td>
                            <td style="text-align: right;">
                                0
                            </td>
                        </tr >
                        <tr style="height:60px;border-top:1px solid gray; ">
                            <td>
                                Profitable alerts
                            </td>
                            <td style="text-align: right;color:green;" >
                                0
                            </td>
                        </tr>
                        <tr style="height:60px;border-top:1px solid gray;">
                            <td>
                                SL alerts
                            </td>
                            <td style="text-align: right;color: red;">
                                0
                            </td>
                        </tr>
                        <tr style="border-top:1px solid gray; height:60px;">
                            <td>
                                Total investment
                            </td>
                            <td style="text-align: right;">
                                0
                            </td>
                        </tr>
                        <tr style="border-top:1px solid gray; height:60px;">
                            <td>
                                ROI
                            </td>
                            <td style="text-align: right;">
                                0
                            </td>
                        </tr>
                        <tr style="border-top:1px solid gray; height:60px;">
                            <td>
                                ROI present
                            </td>
                            <td style="text-align: right;">
                                0
                            </td>
                        </tr>
                    </table>    
                </div>
            </div>
            <div class="card card-div">
                <h4 class="card-header" style="text-align: center;">
                    Weekly 2020-11-3 to 2020-12-05
                </h4>
                <div class="card-block">
                    <table style="width:100%;table-layout: fixed;">
                        <tr style="border-top:1px solid gray; height:60px;">
                            <td>
                                Total alerts
                            </td>
                            <td style="text-align: right;">
                                18
                            </td>
                        </tr >
                        <tr style="height:60px;border-top:1px solid gray; ">
                            <td>
                                Profitable alerts
                            </td>
                            <td style="text-align: right;color:green;" >
                                5
                            </td>
                        </tr>
                        <tr style="height:60px;border-top:1px solid gray;">
                            <td>
                                SL alerts
                            </td>
                            <td style="text-align: right;color: red;">
                                7
                            </td>
                        </tr>
                        <tr style="border-top:1px solid gray; height:60px;">
                            <td>
                                Total investment
                            </td>
                            <td style="text-align: right;">
                                26,450.6
                            </td>
                        </tr>
                        <tr style="border-top:1px solid gray; height:60px;">
                            <td>
                                ROI
                            </td>
                            <td style="text-align: right;">
                                50.15
                            </td>
                        </tr>
                        <tr style="border-top:1px solid gray; height:60px;">
                            <td>
                                ROI present
                            </td>
                            <td style="text-align: right;">
                                0.19
                            </td>
                        </tr>
                        <tr style="border-top:1px solid gray;">
                            <td colspan="2">
                                T1 achieved: 0 T2 Achieved: 3 T3 Achieved: 1 t4 Achieved: 1
                            </td>
                        </tr>
                    </table>    
                </div>
    </div> 
</div>