<table style="background-color: rgb(212, 211, 211); margin:10px auto;">
    <tr>
    <td style="padding:20px">
    <div class="card">
        <div class="card-header">
            User management
        </div>
        <div class="card-body">
            <h3 class="card-title">
                User management
            </h3>
            <p class="card-text" style="margin-top: 20px;">
                Add, edit and remove user accounts and reset passwords.
            </p>
            <a href="#" class="btn btn-light pdd-btn">
                Add user
            </a>
            <a href="#" class="btn btn-light pdd-btn">
                Edit a user
            </a>
            <a href="#" class="btn btn-light pdd-btn">
                Reset password
            </a>
        </div>
    </div>
    </td>
    <td style="padding:20px">
    <div class="card">
        <div class="card-header">
            Biling
        </div>
        <div class="card-body">
            <div>
                <span class="card-title" style="font-size:xx-large;font-weight: bold;">
                    &#8377; 0.00
                </span>
                <span class="card-text">
                    Total balance
                </span>
            </div>
            <a href="#" class="btn btn-light pdd-btn-1">
                Balance
            </a>
            <a href="#" class="btn btn-light pdd-btn-1">
                Subscription
            </a>
            <a href="#" class="btn btn-light pdd-btn-1">
                Payment method
            </a>
        </div>
    </div>
    </td>
    </tr>
</table>

<div style="width:70%; margin:20px auto; border:3px solid gray;">
    <div class="card flex-row flex-wrap" style="border:none;">
        <table>
        <tr>
        <img class="card-img-top prfl-pto" src="../assets/sbprofile.png" alt="Profile image"/>
        </tr>
        <tr>
        <a style="padding-left:20px;"class="card-link" href="#">Change photo</a>
        </tr>
        </table>
        <div class="card-body">
            <h1 class="card-title ttl-size">Sudha</h1>
            <p class="card-text par-mar"><a class="a-clr" href=""><i class="fa fa-key icon-clr" style="margin-left:0px;"></i> Reset password</a> <a class="a-clr" href=""><i class="fa fa-ban icon-clr"></i> Block sign-in </a> <a class="a-clr" href=""><i class="fa fa-user-times icon-clr"></i> Delete user</a></p>
        </div>
    </div>

    <div style=" margin-top: 30px;margin-left:20px"class="nav-cust">
        <ul class="nav">
            <li class="nav-item"><a class="nav-link a-clr active"  href="#account-det">Account</a>
            </li>
            <li class="nav-item"><a class="nav-link a-clr" href="#devices-det" >Devices</a>
            </li>
            <li class="nav-item"><a class="nav-link a-clr" href="#licenses-det" >Licenses</a>
            </li>
        </ul>
        <div style="overflow: scroll; height:400px;">
        <div id="account-det">
            <Table style="margin-top:70px; align-items: initial;">
                <tr>
                    <td>
                        <h5>Username/E-mail</h5>
                        <p>admin@ssstockalerts.in</p>
                        <a href="#">Manage username and email</a>
                    </td>
                    <td>
                        <h5>Aliases</h5>
                        <a href="#">Manage username and email</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>Last sign-in</h5>
                        <p>December 1,2020.10:38PM</p>
                        <a href="#">View last sign-in</a>
                    </td>
                    <td>
                        <h5>Sign-out <i class="fa fa-info-circle" style="color:rgb(187, 186, 186);"></i></h5>
                        <p>Sign-out of all 365 sessions.</p>
                        <a href="#">Initiate sign-out</a>
                    </td>
                </tr>
                <tr>
                    
                    <td>
                        <h5>Alternate email address</h5>
                        <p>adm**@ssstockalerts.in</p>
                        <a href="#">Edit address</a>
                    </td>
                </tr>
            </Table>
        </div>
        <div id="devices-det">
            <h3>devices details</h3>
            <Table style="margin-top:70px; align-items: initial;">
                <tr>
                    <td>
                        <h5>Username/E-mail</h5>
                        <p>admin@ssstockalerts.in</p>
                        <a href="#">Manage username and email</a>
                    </td>
                    <td>
                        <h5>Aliases</h5>
                        <a href="#">Manage username and email</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>Last sign-in</h5>
                        <p>December 1,2020.10:38PM</p>
                        <a href="#">View last sign-in</a>
                    </td>
                    <td>
                        <h5>Sign-out <i class="fa fa-info-circle" style="color:rgb(187, 186, 186);"></i></h5>
                        <p>Sign-out of all 365 sessions.</p>
                        <a href="#">Initiate sign-out</a>
                    </td>
                </tr>
                <tr>
                    
                    <td>
                        <h5>Alternate email address</h5>
                        <p>adm**@ssstockalerts.in</p>
                        <a href="#">Edit address</a>
                    </td>
                </tr>
            </Table>
        </div>
        <div id="licenses-det">
            <h3>licenses details</h3>
            <Table style="margin-top:70px; align-items: initial;">
                <tr>
                    <td>
                        <h5>Username/E-mail</h5>
                        <p>admin@ssstockalerts.in</p>
                        <a href="#">Manage username and email</a>
                    </td>
                    <td>
                        <h5>Aliases</h5>
                        <a href="#">Manage username and email</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>Last sign-in</h5>
                        <p>December 1,2020.10:38PM</p>
                        <a href="#">View last sign-in</a>
                    </td>
                    <td>
                        <h5>Sign-out <i class="fa fa-info-circle" style="color:rgb(187, 186, 186);"></i></h5>
                        <p>Sign-out of all 365 sessions.</p>
                        <a href="#">Initiate sign-out</a>
                    </td>
                </tr>
                <tr>
                    
                    <td>
                        <h5>Alternate email address</h5>
                        <p>adm**@ssstockalerts.in</p>
                        <a href="#">Edit address</a>
                    </td>
                </tr>
            </Table>
        </div>
        </div>
    </div> 

</div>