<div style="margin-left:5%;">
<p class="cmn-mrgn fnt-sz">ssstockalerts</p>
<h1 class="cmn-mrgn">Active users</h1>
<h4 class="cmn-mrgn">suggested actions (1)</h4>
<hr/>
<nav class="navbar navbar-expand-xl navbar-light bg-light">
    <a class="navbar-brand"><i class="fa fa-plus plus-styl"></i> Add user</a>
</nav>
<table>
    <tr>
        <td>Display name1</td>
        <td>Username</td>
        <td>Licenses</td>
        <td>Validity</td>
    </tr>
    <tr>
        <td>sudhakar B</td>
        <td>admin@ssstockalerts.in</td>
        <td>Basic 1 month</td>
        <td>1-Mar-2020 to 1-Apr-2020</td>
    </tr>
</table>
</div>