<h1>FAQ</h1>
<p>can i cancel subscription?</p>
<p>you can cancel subscribtion anytime but you will not be refunded any subscription amount that is charged. 
    the cancellation is effective till the valid billing period.
     which means you can continue using the services of street till end of the billing cycle. Additionally, you can write a mail to support@streak.tech</p>
<p>what happen when i upgrade a plan?</p>
<p>what is the procedure to pay streak?</p>     
<p>what happens when i downgrade a plan?</p>
<p>can i subscribe to a monthly plan using other payment option?</p>
<p>what's is the process to stop auto-renewal?</p>