<div class="plans-styl"><span><i class="fa fa-flag-o" style="color: maroon;font-weight: bold;"></i> &nbsp;Your free trail is over. Please subscribe to continue using the services <button class="badge-pill btn-color">SUBSCRIBE</button></span></div>
<table style="border-right: 10px solid rgb(179, 179, 179);" class="tbl-brdr tbl-mar">
    <tr>
        <td class="tbl-brdr ttl-size">Current Plan</td>
        <td class="tbl-brdr ttl-size" style="border-left: 1px solid rgb(179, 179, 179);">Payment method</td>
    </tr>
    <tr>
        <td class="tbl-brdr-edge" style="border-top-right-radius: 5%;">
            <tr>
                <td><i class="fa fa-gift" style="color:dodgerblue;font-size:100px;"></i></td>
                <td>
                    <p class="ttl-size" style="font-weight: bold;">No Active Plan</p>
                    <ul >
                        <li style="padding-top: 10px;">0 backtests per day</li>
                        <li style="padding-top: 10px;">0 live deployments at a time</li>
                        <li style="padding-top: 10px;">100 scans per day</li>
                    </ul>
                </td>
            </tr>
            <tr class="subttl-size"style="color: dodgerblue; font-weight: bold;">Change Plan</tr>
        </td>
        <td class="tbl-brdr" style="border-left: 1px solid rgb(179, 179, 179);"></td>
    </tr>
    <tr class="tbl-brdr ttl-size" ><td colspan="2" style="padding-top:30px;">INVOICES</td></tr>
    <tr class="tbl-brdr subttl-size">
        <td colspan="2">  
        <table style="width: 100%;">
            <tr style="border-top: none;"class="tbl-brdr subttl-size">
                <td class="subttl-size">Date</td>
                <td>Plan</td>
                <td>Billing Period</td>
                <td>Payment Method</td>
                <td>Paid Amount</td>
                <td>Invoice</td>
            </tr>
            <tr >
            <tr>
                <td class="subttl-size">04/jan/2019</td>
                <td>Basic<span>(1 month)</span></td>
                <td>04/jan/2019-02/Feb/2019</td>
            </tr>
        </table>
        </td>
    </tr>
</table>