<nav class="navbar navbar-expand-lg bg-light">
    <h3 class="navbar-brand mr-auto">Users</h3>
    <button class="navbar-brand"><i class="fa fa-undo" style="font-size: x-large;padding:3px 10px;"></i></button>
</nav>
<form style="margin:10px;">
    <table style="table-layout: fixed;width: 100%;">
    <tr>
        <td>
        <div class=""style="border:2px solid rgb(199, 197, 197);">
        <i class="fa fa-search" style="margin:0px 10px;"></i><input placeholder="search users" style="border:none;"/>
    </div></td>
    <td align="right"style="font-size:x-large;">
        <a href="#" class="btn-light">&lt;</a>
        1
        <a href="#" class="btn-light" style="padding-right: 10px;">&gt;</a>
        <a href="#" class="btn-light" style="border-left: 2px solid rgb(199, 197, 197);padding:0px 10px;"><i class="fa fa-cog"></i></a>
    </td>
    </tr>
    </table>
</form>
<div style="overflow:scroll;">
<table style="margin:10px;width:100%;">
    <tr>
        <td>
            <input type="radio"/>
        </td>
        <td>
            Name <i class="fa fa-sort-down"></i>
        </td>
        <td align="center">
            Email
        </td>
        <td>
            Mobile Number
        </td>
        <td>
            plan name
        </td>
        <td>
            plan expiry
        </td>
        <td>
            Actions
        </td>
    </tr>
    <tr>
        <td>
            <input type="radio"/>
        </td>
        <td>
            sudhakar
        </td>
        <td align="center">
            <a href="#">ss@gmail.com</a>
        </td>
        <td>
            900000000000
        </td>
        <td>
            1 month
        </td>
        <td >
            06-12-2020
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
            <input type="radio"/>
        </td>
        <td>
            karthick
        </td>
        <td align="center">
            <a href="#">kk@gmail.com</a>
        </td>
        <td>
            800000000000
        </td>
        <td>
            6 months
        </td>
        <td>
            05-05-2020
        </td>
        <td>
            
        </td>
    </tr>
    <tr>
        <td>
            <input type="radio"/>
        </td>
        <td>
            ram
        </td>
        <td align="center">
            <a href="#">ram@gmail.com</a>
        </td>
        <td>
            700000000000
        </td>
        <td>
            1 year
        </td>
        <td>
            06-12-2021
        </td>
        <td>

        </td>
    </tr>
    <tr>
        <td>
            <input type="radio"/>
        </td>
        <td>
            shayam
        </td>
        <td align="center">
            <a href="#">shyam@gmail.com</a>
        </td>
        <td>
            60000000000000
        </td>
        <td>
            Trail
        </td>
        <td>
            15-12-2020
        </td>
        <td>
        
        </td>
    </tr>
    
</table>
</div>