<nav class="navbar navbar-expand-lg bg-light">
    <h3 class="navbar-brand mr-auto">Instances<span style="color:gray;"> (4)</span> &nbsp;&nbsp;&nbsp;<a href="#" style="font-size:medium;">info</a></h3>
    <button class="navbar-brand"><i class="fa fa-undo" style="font-size: x-large;padding:3px 10px;"></i></button>
    <button class="navbar-brand  btn btn-light disabled" style="border: 2px solid rgb(199, 197, 197);">Connect</button>
    <button style="border: 2px solid rgb(199, 197, 197);" class="navbar-brand btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        instance state
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a href="#" class="dropdown-item">current</a>
        <a href="#" class="dropdown-item">show</a>
    </div>
    <button style="border: 2px solid rgb(199, 197, 197);" class="navbar-brand btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Actions
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <a href="#" class="dropdown-item">current</a>
        <a href="#" class="dropdown-item">show</a>
    </div>
    <button style="border: 2px solid rgb(199, 197, 197);" class="navbar-brand btn btn-danger" >
        Launch instances<button style="border-left:2px solid white; margin-left:10px; padding:0px;"class="navbar-brand btn btn-danger dropdown-toggle dropdown-toggle-split" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
        <a href="#" class="dropdown-item">current</a>
        <a href="#" class="dropdown-item">show</a>
    </div>
</nav>
<form style="margin:10px;">
    <table style="table-layout: fixed;width: 100%;">
    <tr>
        <td>
        <div class=""style="border:2px solid rgb(199, 197, 197);">
        <i class="fa fa-search" style="margin:0px 10px;"></i><input placeholder="filter instances" style="border:none;"/>
    </div></td>
    <td align="right"style="font-size:x-large;">
        <a href="#" class="btn-light">&lt;</a>
        1
        <a href="#" class="btn-light" style="padding-right: 10px;">&gt;</a>
        <a href="#" class="btn-light" style="border-left: 2px solid rgb(199, 197, 197);padding:0px 10px;"><i class="fa fa-cog"></i></a>
    </td>
    </tr>
    </table>
</form>
<div style="overflow:scroll;">
<table style="margin:10px;width:100%;">
    <tr>
        <td>
            <input type="checkbox"/>
        </td>
        <td>
            Name <i class="fa fa-sort-down"></i>
        </td>
        <td>
            Instance ID <i class="fa fa-sort-down"></i>
        </td>
        <td>
            instance state <i class="fa fa-sort-down"></i>
        </td>
        <td>
            instance type <i class="fa fa-sort-down"></i>
        </td>
        <td>
            status check
        </td>
        <td>
            alarm status
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox"/>
        </td>
        <td>
            user 1
        </td>
        <td>
            2342n2349na09sdn230aasd23
        </td>
        <td>
            <i class="fa fa-check-circle text-success" style="font-size:large;"></i>Running
        </td>
        <td>
            t2.nano
        </td>
        <td class="text-success">
            <i class="fa fa-check-circle" style="font-size:large;"></i> 2/2 checks...
        </td>
        <td>
            No alarms <i class="fa fa-plus"></i>
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox"/>
        </td>
        <td>
            user 2
        </td>
        <td>
            2342n2349na09sdn230aasd23
        </td>
        <td>
            <i class="fa fa-times-circle text-danger" style="font-size:large;"></i>Running
        </td>
        <td>
            t2.large
        </td>
        <td>
            -
        </td>
        <td>
            No alarms <i class="fa fa-plus"></i>
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox"/>
        </td>
        <td>
            
        </td>
        <td>
            2342n2349na09sdn230aasd23
        </td>
        <td>
            <i class="fa fa-times-circle text-danger" style="font-size:large;"></i>Running
        </td>
        <td>
            t2.large
        </td>
        <td>
            -
        </td>
        <td>
            No alarms <i class="fa fa-plus"></i>
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox"/>
        </td>
        <td>
            
        </td>
        <td>
            2342n2349na09sdn230aasd23
        </td>
        <td>
            <i class="fa fa-times-circle text-danger" style="font-size:large;"></i>Running
        </td>
        <td>
            t2.medium
        </td>
        <td>
            -
        </td>
        <td>
            No alarms <i class="fa fa-plus"></i>
        </td>
    </tr>
    
</table>
</div>