<nav class="navbar navbar-expand-xl navbar-dark bg-primary">
    <a class="navbar-brand">website(Task 8)</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" routerLink="tasktwo">sign in(task 2)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="taskthree">app version(task 3)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="taskfour">component(task 4)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="taskfive">plans(task 5)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="tasksix">FAQ(task 6)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="taskseven">UsersList(task 7)</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>