<table class="tbl-border">
    <tr>
            <p class="alert p-font alert-light" style="border-top-width:10px;border-color: rgb(62, 110, 252);">App V2.1 released
            <span class="alert-light badge-background badge-pill">2020-11-20</span></p>
            <p class="mspace">This release contains large update of the German translation and few bug fixes.</p>
            <p class="mspace">Eager to learn more about the new features? Follow us on <a href="#">Facebook</a>, <a href="#">Twitter</a> or <a href="#">LinkedIn</a></p>
            <button class="btn btn-success badge-pill btn-bgp">GO TO DOWNLOAD PAGE</button>
            <button class="btn btn-outline-success badge-pill btn-lbgp">COMPLETE LIST OF CHANGES</button>
    </tr>
    <tr>
            <p class="alert p-font alert-light">App V2.0 released
                    <span class="alert-light badge-background badge-pill">2020-10-15</span></p>
            <p class="mspace">In this release, App was to OpenSSL 1.1.1h. This version also fixes several bugs and adds some small improvements.</p>
            <button class="btn btn-outline-success badge-pill btn-lbgp">COMPLETE LIST OF CHANGES</button>
    </tr>
</table>